* {
  margin: 0;
}

/* ant styles */
.ant-menu {
  border-right: none !important;
}

.ant-menu-item {
  border-right: 0px !important;
  border-radius: 0px !important;
}

.ant-menu-item-selected {
  background-color: #ffb70022 !important;
  border-right: 2px solid #ffb700 !important;
}

.ant-menu-item:hover {
  background-color: #ffb70022 !important;
}

.ant-menu-item-selected svg {
  color: black !important;
}
